$margin-card: 10px;
$margin-card: 15px;
$size-font: $margin-card;

.vocabulary {
  &-list {
    &,
    & > * {
      font-size: 16px;
    }

    color: black;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    width: 100lvw;

    align-items: center;
    justify-content: center;
  }

  &-furigana {
    //TODO: Centrer les mots sans furigana
    //padding-bottom: 5px;
    &::after {
      content: '*';
      color: transparent;
    }
  }

  &-voc {
    background-color: white;
    border: lightgray 1px solid;
    padding: 1px;
    margin: 10px;
    padding-bottom: calc($size-font + $margin-card);
    padding-top: calc($size-font + $margin-card);
    width: 25lvw;
    max-width: 400px;
    min-width: 300px;
    text-align: center;

    &:hover {
      .vocabulary-furigana {
        color: red;
        text-align: center;
      }
    }
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search {
  @extend .pagination;
}

datalist option {
  .invisible {
    /*
    display: none;
    font-size: 0px;
    color: transparent;
    visibility: hidden;
    */
    color: transparent;
  }
}
input[autocomplete] + datalist[id],
input[autocomplete]:not(:focus) + datalist[id] {
  display: none !important;
  max-width: inherit;
}
input[autocomplete]:focus + datalist[id] {
  display: block !important;
}

/****/
input[name='vocabSearch'] {
  border: 2px solid orange;
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 350px;
}

.input {
  width: 100%;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.option {
  width: 100%;
}
